<div class="container-fluid border row col-12">
   <div class="row p-3 mt-3">
    <div class="col-sm-6 text-centre">
        <p class="text" style="color: grey; font-size: large;">Thank you!</p>
        <p class="text text-muted" style="color: darkgrey;font-size: large;">
            Your application has been received. Representative will contact you regarding your immigration process within five business days.
        </p>
    </div>
    <div class="col-sm-6 mt-5 text-muted text-end" style="color: grey;">
        <h6> Reference ID : IMIGID-{{ref_id}} </h6>
    </div>
    </div>
</div>